@font-face {
    font-family: "poppins";
    src: url("../resources/fonts/POPPINS-REGULAR.TTF");
}

@font-face {
    font-family: "poppinsSemibold";
    src: url("../resources/fonts/POPPINS-SEMIBOLD.TTF");
}

@font-face {
    font-family: "poppinsBold";
    src: url("../resources/fonts/POPPINS-BOLD.TTF");
}

:root {
    --colorOrange: #FF7200;
    --colorForm: #F3F3F3;
    --colorBorder: #939393;
    --colorBorderShadow: #DBDBDB;
    --colorHeading: #464646;
    --colorBtn: #EAEAEA;
    --colorlightBlue: #F5F8FB;
    --colorPara: #7e7e7e;
    --colorsubHeader: #56AFD5;
}

.services--sec1--div1 {
    width: 100%;
    background-color: var(--colorlightBlue);
    margin-top: 1%;
}

.services--sec1--div2 {
    padding: 3% 5%;
}

.services--sec1--header1 {
    font-family: "poppinsSemibold";
    font-size: 1.2rem;
    color: var(--colorHeading);
}

.services--sec2--div1 {
    background-color: var(--colorOrange);
    border-radius: 0rem 0rem 0rem 4rem;
    padding: 4% 6%;
}

.services--sec2--header1 {
    font-family: "poppins";
    color: #ffff;
    font-size: 0.9rem;
}

.services--sec2--header2 {
    font-family: "poppinsBold";
    color: #ffff;
    font-size: 0.9rem;
}

.services--sec2--div3 {
    margin-top: 4%;
}

.services--sec2--subheader1 {
    text-decoration: none;
    font-family: "poppins";
    color: #ffff;
    font-size: 0.7rem;
}

.services--sec2--subheader1:hover {
    font-family: "poppinsSemibold";
}

.services--sec2--subheader1:active {
    font-family: "poppinsBold";
}

.services--sec2--div4 {
    height: 3vh;
}

.services--sec3--div1 {
    padding: 3%;
}

.services--sec3--div2 {
    margin-top: 5%;
}

.services--sec3--header1 {
    font-family: "poppinsSemibold";
    font-size: 0.9rem;
    color: var(--colorsubHeader);
}

.services--sec3--div3 {
    margin-top: 2%;
    text-align: justify;
}

.services--sec3--para1 {
    font-family: "poppins";
    font-size: 0.7rem;
    color: var(--colorBorder);
}

.services--sec2--div5 {
    display: none;
}

.services--sec4 {
    display: none;
}



/* -------------sec5 start-------------- */

.services--sec5--div1 {
    /* width: 100%; */
    padding: 5%;
}

.services--sec5--header1 {
    color: var(--colorHeading);
    font-size: 1.2rem;
    font-family: "poppinsBold";
}

.services--sec5--div2 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.services--sec5--div3 {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.services--sec5--div6 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 15%;
}

/* .container {
    background-color: green;
}

.container2 {
    background-color: yellow;
}

.radio-buttons{
    background-color: red;
}

.radio-buttons--bc{
    background-color: purple;
}

.image-area{
    background-color: blue;
} */

.radio-buttons input[type="radio"] {
    display: none;
    /* Hide the default radio button */
}

.radio-buttons--bc input[type="radio"] {
    display: none;
    /* Hide the default radio button */
}

.radio-label {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 15%;
    /* Adjust based on image size */
    font-family: "poppinsSemibold";
    color: var(--colorHeading);
    font-size: 1.2rem;
}

.radio-label.hover,
.radio-buttons input[type="radio"]:hover+.radio-label,
.radio-buttons input[type="radio"]:checked+.radio-label {
    background-size: contain;
    background-repeat: no-repeat;
}

.radio-label.hover,
.radio-buttons--bc input[type="radio"]:hover+.radio-label,
.radio-buttons--bc input[type="radio"]:checked+.radio-label {
    background-size: contain;
    background-repeat: no-repeat;
}

/* Specific styles for each label based on ID */
#neck+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#neck+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#shoulder+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#shoulder+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#knee+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#knee+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#hand+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#hand+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#foot+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#foot+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#hip+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#hip+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#elbow+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#elbow+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#back+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#back+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#thigh+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#thigh+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}

#leg+.radio-label {
    background-image: url('../resources/img/icons/circle.png');
    /* Use the correct image path */
}

#leg+.radio-label:hover {
    background-image: url('../resources/img/icons/right_tick.png');
    /* Use the correct image path */
    color: #56AFD5;
    cursor: pointer;
}



.image-area img {
    width: 90%;
    height: auto;
}

.image-area {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.services--sec5--div8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin-top: 15%;
    gap: 2%;
}

.services--sec5--div9{
    /* background-color: red; */
    width: 45%;
}

.services--sec5--div10{
    /* background-color: blue; */
    width: 50%;
}

.sec5--list1{
    text-decoration: none;
    font-family: "poppinsSemibold";
    font-size: 0.8rem;
    color: var(--colorHeading);
}

.sec5--list1:hover{
    color: var(--colorBorder);
}

.sec5--list2{
    text-decoration: none;
    font-family: "poppinsSemibold";
    font-size: 0.75rem;
    color: var(--colorHeading);
}

.sec5--list2:hover{
    color: var(--colorBorder);
}

.services--empty--div{
    height: 10vh;
}

/* ------------sec5 end------------- */

@media screen and (max-width:350px) {

    .services--sec5--div8{
        gap: 2%;
    }
    
    .services--sec5--div9{
        width: 40%;
    }
    
    .services--sec5--div10{
        width: 50%;
    }
    
    .sec5--list1{
        font-size: 0.65rem;
    }
    
    .sec5--list2{
        font-size: 0.65rem;
    }

}


@media screen and (min-width:400px) {

    .services--sec5--div8{
        gap: 5%;
    }
    
    .services--sec5--div9{
        padding-left: 2%;
        width: 40%;
    }
    
    .services--sec5--div10{
        width: 50%;
    }
    
    .sec5--list1{
        font-size: 0.8rem;
    }
    
    .sec5--list2{
        font-size: 0.8rem;
    }

}


@media screen and (min-width:545px) {

    .services--sec4 {
        display: none;
    }

    .services--sec2--div6 {
        display: flex;
        flex-direction: row;
        padding: 0% 5%;
        gap: 5%;
    }

    .services--sec2--div5 {
        display: flex;
    }

    .services--sec1--header1 {
        font-size: 1.8rem;
    }

    .services--sec2--div1 {
        width: 40%;
        padding: 4% 3%;
    }

    .services--sec2--header1 {
        font-size: 1rem;
    }

    .services--sec2--header2 {
        font-size: 1rem;
    }

    .services--sec3--header1 {
        font-family: "poppinsSemibold";
        font-size: 1.2rem;
        color: var(--colorsubHeader);
    }

    .services--sec3--para1 {
        font-family: "poppins";
        font-size: 1rem;
        color: var(--colorBorder);
    }

    .services--sec3--div2 {
        margin-top: 3%;
    }

    .services--sec3--div3 {
        margin-top: 2%;
        text-align: justify;
    }

    .services--sec3--div1 {
        padding: 1% 3%;
    }


    /* -------------sec5 start-------------- */

    .services--sec5--div1 {
        /* width: 100%; */
        padding: 5%;
    }

    .services--sec5--div3 {
        gap: 5%;
        margin-top: 5%;
    }

    .services--sec5--div6 {
        gap: 5%;
        margin-top: 5%;
    }

    .services--sec5--header1 {
        color: var(--colorHeading);
        font-size: 1.5rem;
        font-family: "poppinsBold";
    }

    .services--sec5--div2 {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .container2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .image-area img {
        width: 60%;
        height: auto;
    }

    .image-area {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .radio-buttons {
        width: 70%;
        align-self: center;
        padding-left: 3%;
    }

    .radio-buttons--bc {
        width: 70%;
        align-self: center;
        padding-left: 3%;
    }

    .radio-label {
        padding-left: 15%;
        font-size: 1.5rem;
    }

    .services--sec5--div8{
        padding: 0% 5%;
        gap: 5%;
    }
    
    .services--sec5--div9{
        width: 45%;
        padding-left: 5%;
    }
    
    .services--sec5--div10{
        width: 50%;
    }
    
    .sec5--list1{
        font-size: 1.2rem;
    }

    .sec5--list2{
        font-size: 1.2rem;
    }

    /* -------------sec5 end-------------- */

}

@media screen and (min-width:950px) {

    .services--sec2 {
        display: none;
    }

    .services--sec3 {
        display: none;
    }

    .services--sec4 {
        display: flex;
    }

    .services--sec1--header1 {
        font-size: 2rem;
    }

    .services--sec4--div1 {
        width: 100%;
        padding: 4% 3%;
    }

    .services--sec4--div2 {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .services--sec4--div3 {
        width: 70%;
    }

    .services--sec4--div7 {
        width: 32%;
    }

    .services--sec4--div8 {
        background-color: var(--colorOrange);
        padding: 3%;
        border-radius: 0rem 0rem 0rem 4rem;
    }

    .services--sec4--div4 {
        padding: 4%;
    }

    .services--sec4--div15 {
        padding: 0% 4%;
    }

    .services--sec4--div17 {
        padding: 2% 2.5%;
    }

    .services--sec4--div18 {
        padding: 1% 2.5%;
    }

    .services--sec4--header1 {
        font-family: "poppinsSemibold";
        font-size: 1.5rem;
        color: var(--colorsubHeader);
    }

    .services--sec4--div6 {
        margin-top: 2%;
    }

    .services--sec4--div19 {
        margin-top: 1%;
    }

    .services--sec4--para1 {
        font-family: "poppins";
        font-size: 1rem;
        color: var(--colorBorder);
    }

    .services--sec4--div11 {
        height: 4vh;
    }

    .services--sec4--header2 {
        font-family: "poppins";
        color: #ffff;
        font-size: 1.5rem;
    }

    .services--sec4--header3 {
        font-family: "poppinsBold";
        color: #ffff;
        font-size: 1.5rem;
    }

    .services--sec4--div10 {
        margin-top: 3%;
    }

    .services--sec4--subheader1 {
        text-decoration: none;
        font-family: "poppins";
        color: #ffff;
        font-size: 0.9rem;
    }

    .services--sec4--subheader1:hover {
        font-family: "poppinsSemibold";
    }

    .services--sec4--subheader1:active {
        font-family: "poppinsBold";
    }

    .services--sec4--div12 {
        margin-top: 3%;
        padding: 3%;
    }

    .services--sec4--header4 {
        font-family: "poppins";
        color: var(--colorHeading);
        font-size: 1.5rem;
    }

    .services--sec4--header5 {
        font-family: "poppinsBold";
        color: var(--colorHeading);
        font-size: 1.5rem;
    }

    .services--sec4--div14 {
        margin-top: 3%;
        background-color: var(--colorForm);
        padding: 8%;
        display: flex;
        justify-content: center;
    }

    .services--table {
        font-size: 1rem;
        font-family: "poppinsSemibold";
        color: var(--colorHeading);
    }

    .services--hours--table--hr {
        border-style: dashed;
        border-color: var(--colorPara);
    }


    /* -------------sec5 start-------------- */

    .services--sec5--div1 {
        padding: 0% 0% 0% 2%;
    }

    .services--sec5--div6 {
        /* gap: 1%; */
        margin-top: 5%;
    }

    .services--sec5--header1 {
        color: var(--colorHeading);
        font-size: 2rem;
        font-family: "poppinsBold";
    }

    .services--sec5--div2 {
        display: flex;
        flex-direction: row;
        margin-top: 0%;
    }

    .radio-buttons {
        width: 90%;
        align-self: center;
        padding-left: 0%;
    }

    .radio-buttons--bc {
        width: 90%;
        align-self: center;
        padding-left: 0%;
        margin-top: 4%;
    }

    .radio-label {
        padding-left: 15%;
        font-size: 1.5rem;
    }

    .image-area img {
        width: 84.5%;
        height: auto;
    }

    #backImage {
        width: 90%;
    }

    .services--sec5--div8{
        margin-top: 3%;
        padding: 0% 5%;
        gap: 5%;
    }
    
    .services--sec5--div9{
        padding-left: 15%;
        width: 30%;
    }
    
    .services--sec5--div10{
        width: 40%;
    }
    
    .sec5--list1{
        font-size: 1.5rem;
    }

    .sec5--list2{
        font-size: 1.5rem;
    }

    .container2{
        gap: 5%;
        /* margin-top: 2%; */
    }

    .services--sec5--div7{
        padding: 0% 3%;
    }

    /* -------------sec5 end-------------- */

}


/* -------------services_front start----------- */

.services_front--sec2--div1{
    padding: 3%;
}

.services_front--sec2--header1{
    color: var(--colorHeading);
    font-family: "poppinsBold";
    font-size: 1.2rem;
}

.services_front--sec2--div3{
    margin-top: 3%;
}

.services_front--sec2--subheader1{
    color: var(--colorsubHeader);
    font-family: "poppinsSemibold";
    font-size: 0.9rem;
}

.services_front--sec2--div5{
    margin-top: 2%;
}

.services_front--sec2--para1{
    color: var(--colorBorder);
    font-family: "poppins";
    font-size: 0.7rem;
}


@media screen and (min-width:545px) {

    .services_front--sec2--div1{
        padding: 3%;
    }
    
    .services_front--sec2--header1{
        font-size: 1.5rem;
    }
    
    .services_front--sec2--div3{
        margin-top: 3%;
    }

    .services_front--sec2--subheader1{
        font-size: 1.2rem;
    }
    
    .services_front--sec2--div5{
        margin-top: 1%;
    }
    
    .services_front--sec2--para1{
        font-size: 1rem;
    }
    
}


@media screen and (min-width:950px) {

    .services_front--sec2--header1{
        font-size: 2rem;
    }
    
    .services_front--sec2--subheader1{
        font-size: 1.5rem;
    }
    
    /* .services_front--sec2--para1{
        font-size: 1.4rem;
    } */
    
}

/* -------------services_front end----------- */
